body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: #333;

    margin: 0 auto;
    padding: 20px;
}

#book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    margin: 40px auto;
    border: 2px solid rgb(216, 0, 216);
    border-radius: 10px;
    padding: 48px;
    
}


.book-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.rating{
margin-bottom: 32px;
}

.book-title{
    font-size: 32px;
    font-weight: 800;
    margin: 0px;
}

.book-content img {
    max-width: 300px;
    margin-bottom: 20px;
}
.book-details-container{
    padding: 0px 48px;
}
.author-name{
    font-weight: 800;
}
.book-description {
    line-clamp: 8;
    -webkit-line-clamp: 8;
    display: -webkit-box;

    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.stock-info,
.purchase-options {
    margin-top: 20px;
}

.purchase-options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
}

.btn {
    background-color: #f6f6f6;
    color: #595959;    
    border-radius: 12px;
}

.eb{
    background-color: #965cd3;
    color: #fff;
}

#reviews {
    margin-top: 40px;
}

.rating-stats {
    margin-bottom: 30px;
}

.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bar {
    flex-grow: 1;
    height: 20px;
    background-color: #eee;
    margin: 0 10px;
}

.bar > div {
    height: 100%;
    background-color: #ffd700;
}

.rating-review-container{
    display: flex;
    justify-content: space-between;

    max-width: 1280px;
    gap: 32px;
    width: 100%;
    margin: auto;
}

.rating-container{
    width: 50%;

}

.reviews-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

}

@media (max-width: 767px){
    .rating-review-container{
        flex-direction: column;


    }

    .rating-container{
        width: 100%;
    
    }
    
    .reviews-container{
        
        width: 100%;
    
    }

    .book-content {
        flex-direction: column;
       
    }
    #book-details{
        text-align: center;
    }
    
}


.review {
    border-bottom: 1px solid #eee;
    padding: 24px 24px;

    border: #c8c8c8 solid 1px;
    background-color: #f5f5f5;
}

.review-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 10px;
}

.review-username{
    font-weight: 600;
    font-size: 18px;
}