.map
{
    display:flex;
    flex-direction: row;
    height: 200px;
    width: 1500px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    font-size: 32px;
    font-family: 'Roboto';
    color: blue;

}

.map div
{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100px;
    width: 400px;
    justify-content: space-between;

}

.map div p{
    display: inline;
    
}

fieldset
{
    height: 1700px;
    width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px;
    border: 3px solid rgb(69,118,175);
    border-radius: 20px;

}

#bdetails
{
    font-size: 42px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-left: 50px;
}

.cdetails
{
    height: 400px;
    width: 400px;
    margin-left: 0;

}

#cpayment
{
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-left: 50px;

}

.field
{
    height: 70px;
    width: 500px;
    border: 2px solid lightgray;
    background-color: lightgray;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

label
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    
}

table
{
    border-collapse:collapse;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(69,118,175);
    border-width: 3px;
    width: 600px;
    
}

table td
{
    border-left: none;
    border-right: none;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    border-color: rgb(69,118,175);
    border-width: 2px;
    padding: 30px;
    
}

table tr
{
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto';

}

table th
{
    padding: 30px;
}


section
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 1500px;
    justify-content: space-between;
}

.card
{
    height: 50px;
    width: 400px;
    border: 2px solid lightgray;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

#button
{  
   width: 350px;
   height: 80px;
   border: 2px solid rgb(69,118,175);
   border-radius: 10px;
   font-weight: bold;
   color: rgb(69,118,175);
   font-size: 24px;
   background-color: white;
   margin-top: 150px;
   margin-left: 550px;
}
