.form{
    display: flex;
    width: 1500px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 100px;
}
fieldset{
    width: 1300px;
    height: 700px;
    border-radius: 30px;
    padding: 100px 100px;
}
legend{
    font-family: 'Roboto';
    font-size: 42px;
    margin-left: 50px;
}
.text{
    font-family: 'Roboto';
    font-size: 24px;
}
input{
    height: 60px;
    width: 600px;
    font-size: 28px;
    border-radius: 20px;
    background-color: none;
    border: 2px solid rgb(69, 118, 175);
    padding-left: 20px;
}
select{
    height: 60px;
    width: 200px;
    font-size: 28px;
    font-family: 'Roboto';
    border-radius: 20px;
    background-color: none;
    border: 2px solid rgb(69, 118, 175);
    padding-left: 20px;
}
.logo{
    float: right;
    width: 40%;
}
#suggest{
    width: 200px;
    float: right;
    border-radius: 0px;
    font-size: 22px;
    background-color: rgb(69, 118, 175);
    color: white;
}
